{% extends 'base.html' %}

{% block content %}

<h2>Edit Your Rating</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.name.label }}
        <br>
        {{ form.name(size=30) }}
    </p>

    <p>
        {{ form.movieList.label }}
        <br>
        {{ form.movieList() }}
    </p>

    <p>
        {{ form.stars.label }}
        <br>
        {{ form.stars() }}
    </p>

    <p>
        {{ form.remarks.label }}
        <br>
        {{ form.remarks() }}
    </p>

    <p>
        {{ form.submit() }}
        <a href="{{ url_for('view') }}" class="btn btn-secondary" style="margin-left: 10px;">Cancel</a>
    </p>

</form>

{% endblock %}