<h3>All Ratings</h3>
{# Heading for the ratings page #}

<a href="{{ url_for('rate') }}">Add Rating</a>
<table border="1" cellpadding="5">
  {# 
    Table to display all ratings.
    border="1" makes the table borders visible.
    cellpadding="5" adds space inside each cell for readability.
  #}

  <tr>
    <th>Name</th>
    <th>Movie</th>
    <th>Rating</th>
    <th>Remarks</th>
    <th>Created At</th>
    <th>Actions</th>
  </tr>
  {# Table headers #}

  {% for rating in ratings %}
  {# Loop through all ratings passed from Flask and create a row for each #}
  <tr>
    <td>{{ rating.name }}</td>       {# Name of the person who rated #}
    <td>{{ rating.movie }}</td>      {# Movie title #}
    <td>{{ rating.stars }}</td>      {# Number of stars given #}
    <td>{{ rating.remarks }}</td>    {# Comments/remarks #}
    <td>{{ rating.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
    {# Date and time when the rating was created, formatted nicely #}
    <td>
      <a href="{{ url_for('edit_rating', id=rating.id) }}">Edit</a> |
      {# Link to edit this movie, passing the movie id #}
      <a href="{{ url_for('delete_rating', id=rating.id) }}">Delete</a>
      {# Link to delete this movie, passing the movie id #}
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{{ url_for('logout') }}">Logout</a>
{# Link to log out from the page #}